.Burger{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow:scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}
.BurgerWrap{
    width: 100%;
    height: inherit;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
}
@media (min-width: 1000px) and (min-height: 700px){
    .Burger{
        width: 700px;
        height: 600px;
    }
}
@media (min-width: 500px) and (min-height: 401px){
    .Burger{
        width: 450px;
        height: 450px;
    }
}
@media (min-width: 400px) and (min-height: 401px){
    .Burger{
        width: 400px;
        height: 400px;
    }
}