body {
  margin: 0;
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center{
  text-align:center;
  margin: 0 auto;
  display:block;
}
:global .red{
color:red;
  font-weight: bold;
}